@import "~@/mixin.less";

.page {
  //overflow-x: hidden;
}
.toolbar {
  text-align: right;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 100%;
  .selected {
    color: #444;
  }
}
.wrapInner {
  min-height: 600px;
  .item {
    margin-left: 20px;
  }
}